.dog-cards-container {
    display: flex;
    width: 700px;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.dog-container{
    flex: 0 0 33.333%;
    display: flex;
    padding: 10px; 
}

.dog-cards-container-2 {
    display: flex;
    width: 700px;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.dog-container-2{
    flex: 0 0 33.333%;
    display: flex;
    padding: 10px; 
}